<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576779636536-jbis2ct5is21bed3aisll6c0r5ij5o6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576779636536-jbis2ct5is21bed3aisll6c0r5ij5o6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAuLyIuwvLjZnq6LMy1pxbWDzeJ2SBgCgo</string>
	<key>GCM_SENDER_ID</key>
	<string>576779636536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>armine.artyom.GAllery</string>
	<key>PROJECT_ID</key>
	<string>gallery-ba644</string>
	<key>STORAGE_BUCKET</key>
	<string>gallery-ba644.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576779636536:ios:f8a7b14bc7a3fee790bbcd</string>
</dict>
</plist>